<mat-card *ngFor="let request of tbrLors">
  <mat-card-title>{{request.title | titlecase}}</mat-card-title>
  <mat-card-content>
    <h4>Student Details</h4>
    Name: {{request.createdBy.name.first}} {{request.createdBy.name.last}}<br>
    Registation Number: {{request.createdBy.uniqueid}}<br>
    Course: {{course[request.createdBy.course-1]}}<br>
    Semester: {{request.createdBy.semester}}
    <mat-form-field appearance="outline" color="primary">
      <mat-label>Review</mat-label>
      <textarea matInput placeholder="Review" type="text" name="review" required #review="ngModel" ngModel
        required></textarea>
      <mat-error *ngIf="review.invalid">Please enter a valid review</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="submitReview(request.id,review.value)">Submit Review to
      HOD</button>
  </mat-card-content>
  <mat-card-actions>
    <ng-container *ngFor="let url of request.filesPath; let i=index">
      <a mat-stroked-button color="primary" href="{{url}}" target="_blank">Attachment {{i+1}}</a>
    </ng-container>
  </mat-card-actions>
</mat-card>
