@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap');

:root {
  --background: #121212;
  --primary: #BB86FC;
  --secondary: #81C784;
  --button: #03DAC5;
  --error-background: #CF6679;
  --white-text: #ffffff;
  --black-text: #000000;
  --primary-text: #5191ff;
  --d8: #2d2d2d;
  --d6: #242424;
  --d4: #272727;
  --d3: #242424;
  --d2: #212121;
  --d1: #1d1d1d;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: rgba(245, 245, 245, 0.5);
}

::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(245, 245, 245, 0.5);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgba(0, 0, 0, 0.5);
}

.flex {
  display: flex;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.space-evenly {
  justify-content: space-evenly;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

.mat-tab-body-wrapper {
  min-height: 3rem !important;
}

.margin-left {
  margin-left: 1rem;
}


html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #fbfbfb;
  font-family: 'Montserrat',
    'Roboto',
    'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;

}

::ng-deep .mat-horizontal-stepper-header {
  pointer-events: none !important;
}

.mat-menu-item {
  font-family: 'Montserrat',
    'Roboto',
    'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif !important;

}
