<div class="center container">
  <div class="container">
    <h3 id="headline">Log In</h3>
    <p id="tagline">or <a [routerLink]="['/signup']">Sign Up</a></p>
  </div>
  <form #loginForm="ngForm" class="flex flex-column" (submit)="onLogin(loginForm)">
    <div>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>ID</mat-label>
        <input matInput placeholder="ID" type="number" name="uniqueid" required #uniqueid="ngModel" ngModel>
        <mat-error *ngIf="uniqueid.invalid">Please enter a valid unqiue ID</mat-error>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field appearance="outline" color="accent">
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" name="password" required #password="ngModel" ngModel
          minlength="8">
        <mat-error *ngIf="password.invalid">Should be more than 8 characters</mat-error>
        <mat-hint>More than 8 characters</mat-hint>
      </mat-form-field>
    </div>

    <button type="submit" mat-raised-button color="primary" *ngIf="!isLoading">Sign Up</button>
    <mat-spinner [diameter]="35" *ngIf="isLoading"></mat-spinner>
  </form>
</div>
